* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-height: 100%;
}

body {
	background: url('../images/bkg.jpg') center;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	height: 100%;
	position: relative;
}

.page-header {
	background: rgba(255, 255, 255, 0.95);
	height: 50px;
	height: 5rem;
	text-align: center;
	width: 100%;
}

.page-header--logo {
	color: #9f9fa8;
	padding-top: 12px;
	padding-top: 1.2rem;
	width: 106px;
	width: 10.6rem;
}

.main {
	margin-top: 30px;
	margin-top: 3rem;
}

.main-title {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
	margin-bottom: 6rem;
}

.main-description {
	background: rgba(255, 255, 255, 0.75);
	border: 5px solid white;
	border-radius: 1.6rem;
	color: #252221;
	height: 160px;
	height: 16rem;
	line-height: 24px;
	line-height: 2.4rem;
	margin: 0 auto 60px auto;
	margin: 0 auto 6rem auto;
	padding: 16px;
	padding: 1.6rem;
	position: relative;
	text-align: justify;
	width: 462px;
	width: 46.2rem;
}

.main-description__button {
	background: -webkit-linear-gradient( right, rgb(117,194,55) 0%, rgb(66,194,56) 21%, rgb(143,191,60) 60%, rgb(94,194,55) 100%);
	background: linear-gradient(270deg, rgb(117,194,55) 0%, rgb(66,194,56) 21%, rgb(143,191,60) 60%, rgb(94,194,55) 100%);
	border-radius: 2rem;
	border: 3px solid rgba(201, 235, 242, 0.7);
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 800;
	left: 10%;
	letter-spacing: 1px;
	bottom: -28px;
	bottom: -2.8rem;
	font-weight: 300;
	height: 56px;
	height: 5.6rem;
	padding: 16px;
	padding: 1.6rem;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 5px #252221;
	width: 80%;
}

.view-tributes {
	color: rgb(170, 242, 148);
	cursor: pointer;
	font-weight: 700;
	margin: 0 auto 60px auto;
	margin: 0 auto 6rem auto;
	text-align: center;
	text-shadow: 1px 1px 5px #252221;
}

.tribute-form {
	background: white;
	border-radius: 5px;
	margin: 0 auto 30px auto;
	margin: 0 auto 3rem auto;
	padding-bottom: 30px;
	padding-bottom: 3rem;
	width: 794px;
}

.tribute-form__title {
	font-size: 30px;
	font-size: 3rem;
	padding: 30px 60px;
	padding: 3rem 6rem;
	text-align: center;
}

.tribute-form__form--label {
	display: block;
	width: 350px;
	width: 35rem;
	margin: 0 auto 30px auto;
	margin: 0 auto 3rem auto;
	position: relative;
}

.tribute-form__form--input {
	background: rgba(189, 177, 178, 0.25);
	border: none;
	border-radius: 5px;
	height: 36px;
	height: 3.6rem;
	padding: 10px;
	padding: 1rem;
	width: 296px;
	width: 29.6rem;
}

.tribute-form__form--input::-webkit-input-placeholder,
.tribute-form__form--textarea::-webkit-input-placeholder {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
}

.tribute-form__form--input::-moz-placeholder,
.tribute-form__form--textarea::-moz-placeholder {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
}

.tribute-form__form--input:-ms-input-placeholder,
.tribute-form__form--textarea:-ms-input-placeholder {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
}

.tribute-form__form--input::placeholder,
.tribute-form__form--textarea::placeholder {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
}

.tribute-form__form--input:focus::-webkit-input-placeholder {
	color: transparent;
}

.tribute-form__form--input:focus::-moz-placeholder {
	color: transparent;
}

.tribute-form__form--input:focus:-ms-input-placeholder {
	color: transparent;
}

.tribute-form__form--input:focus::placeholder {
	color: transparent;
}

.tribute-form__form--input:focus,
.tribute-form__form--textarea:focus {
	border: 1px solid #8abf77;
	outline: none;
}

.placeholder-text {
	color: #8abf77;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	position: absolute;
	right: 39px;
	right: 3.9rem;
	text-align: right;
	top: 3px;
}

.validation {
	color: #ab8364;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	left: 25%;
	position: absolute;
	text-align: center;
	top: -15px;
	top: -1.5rem;
	width: 50%;
}

.invalid {
	border: 1px solid #ab8364;
}

.valid {
	border: 1px solid #8abf77;
}


.tribute-form__form--label-text {
	color: #ab8364;
	padding: 5px;
	position: relative;
	top: 5px;
}

.tribute-form__form--textarea {
	background: rgba(189, 177, 178, 0.25);
	border: none;
	border-radius: 5px;
	display: block;
	height: 108px;
	height: 10.8rem;
	margin: 0 auto 30px auto;
	margin: 0 auto 3rem auto;
	padding: 10px;
	padding: 1rem;
	width: 342px;
	width: 34.2rem;
}

.tribute-form__form--button {
	background: rgb(126, 194, 49);
	border: none;
	border-radius: 5px;
	color: white;
	display: block;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 10px 20px;
	padding: 1rem 2rem;
	margin: 0 auto 30px auto;
	margin: 0 auto 3rem auto;
}

.tribute-form__thanks {
	padding-bottom: 30px;
	padding-bottom: 3rem;
	padding-top: 120px;
	padding-top: 12rem;
}

.tribute-form__thanks--title {
	color: #8abf77;
	font-size: 30px;
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	text-align: center;
}

.tribute-form__thanks--image {
	display: block;
	margin: 0 auto 30px auto;
	margin: 0 auto 3rem auto;
	width: 296px;
	width: 29.6rem;
}

.form-hide {
	margin: 0 auto 30px auto;
	margin: 0 auto 3rem auto;
	text-align: center;
}

.form-hide__button {
	color: white;
	cursor: pointer;
}

.tribute-occasions {
	margin: 0 auto;
	width: 794px;
}

.tribute-occasions__panel {
	width: 33.3%;
	float: right;
	height: 750px;
}

.tribute-occasions__title {
	display: block;
	margin: 0 auto;
	padding-top: 60px;
	padding-top: 6rem;
	padding-bottom: 36px;
	padding-bottom: 3.6rem;
	text-align: center;
}

.tribute-occasions__text {
	color: white;
	padding-bottom: 32px;
	padding-bottom: 3.2rem;
	text-align: center;
	text-shadow: 1px 1px 5px #252221;
}

.tribute-occasions__text:hover {
	color: #8abf77;
	
}

.tribute-occasions__image {
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #252221;
	display: block;
	margin: 0 auto 40px auto;
	margin: 0 auto 4rem auto;
	width: 228px;
	width: 22.8rem;
}

/*clearfix*/
.tribute-occasions:after {
	clear:both;
	content: '';
	display: table;
}

.footer {
	bottom: 0;
	color: #897975;
	font-size: 10px;
	font-size: 1rem;
	height: 50px;
	height: 5rem;
	padding: 15px;
	padding: 1.5rem;
	position: absolute;
	text-align: center;
	width: 100%;
}

.footer a:link, .footer a:visited {
	color: #897975;
	text-decoration: none;
}

.hidden {
	display: none;
}

@media screen and (max-width: 811px) {

	.hide-on-small {
		display: none;
	}

	.main-title {
		margin-bottom: 3rem;
		max-width: 100vw;
	}

	.main-description {
		height: 21.6rem;
		max-width: 35.2rem;
	}

	.main-description__button {
		left: 12.5%;
		width: 75%;
	}

	.view-tributes {
		margin-bottom: 3rem;
	}

	.tribute-form {
		max-width: 95%;
	}

	.tribute-occasions {
		height: 87.6rem;
		padding-bottom: 3rem;
		position: relative;
		width: 100%;
	}

	.tribute-occasions__title {
		padding-top: 0;
		padding-bottom: 3rem;
	}

	.tribute-occasions__text {
		padding-bottom: 3rem;
	}

  .tribute-occasions__image {
  	margin-bottom: 3rem;
  	width: 16.4rem;
  }

  .tribute-occasions__panel {
  	float: none;
  	
  	width: 0;
  }

  .center {
  	height: 37.8rem;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 100%;
  }

  .left {
  	bottom: 10rem;
  	height: 39.8rem;
  	left: 0;
  	position: absolute;
  	width: 50%;
  }

  .right {
  	bottom: 10rem;
  	height: 39.8rem;
  	position: absolute;
  	right: 0;
  	width: 50%;
  }

  .footer {
  	margin-top: 3rem;
  }
}

@media screen and (max-width: 441px) {

	.main-title {
		margin-bottom: 3rem;
	}

	.main-title__image {
		width: calc(422.282px * .95);
		height: calc(43.094px * .95);
	}

	.tribute-form__form--textarea, .tribute-form__form--label {
		width: 95%;
	}

	.tribute-form__form--input {
		width: 92.5%;
	}

	.placeholder-text {
		right: 1.2rem;
	}

}

@media screen and (max-width: 417px) {
	
	.main-title__image {
		width: calc(422.282px * .90);
		height: calc(43.094px * .90);
	}
}

@media screen and (max-width: 397px) {
	
	.main-title__image {
		width: calc(422.282px * .85);
		height: calc(43.094px * .85);
	}
}

@media screen and (max-width: 375px) {
	
	.main-title__image {
		width: calc(422.282px * .80);
		height: calc(43.094px * .80);
	}

	.main-description {
		max-width: 95%;
	}

	.tribute-occasions__image {
  	width: 12.6rem;
  }
}

@media screen and (max-width: 361px) {

	.main-description {
		height: 24.6rem;
	}

	.main-title__image {
		width: calc(422.282px * .75);
		height: calc(43.094px * .75);
	}
}

@media screen and (max-width: 334px) {
	
	.main-title__image {
		width: calc(422.282px * .70);
		height: calc(43.094px * .70);
	}
}

@media screen and (max-width: 312px) {

	.main-description {
		height: 27.6rem;
	}

	.main-title__image {
		width: calc(422.282px * .65);
		height: calc(43.094px * .65);
	}
}